#wrap{width:960px;}
a { outline: none; }
.left { float: left; }
#topnav .right { float: right; }
.inline { display: inline; }
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: block; }
.clearfix { .display: inline-block; }
* html .clearfix { height: 1%; }
div#header ul { list-style-image:none; list-style-position:outside; list-style-type:none; margin: 0; padding: 0; }
div#header * {font-size: 11px;}
/* global page styles
---------------------------------------------------------- */
.global { margin: 10px 0; }
.globalLeaderboard { padding-top: 10px; }
.globalWidth { width: 960px; }
.profile { margin: 5px 0 4px 0; }
.profileWidth { width: 800px; }

/* header
---------------------------------------------------------- */
#header * { font-family:verdana,arial,sans-serif,helvetica; }
div#headerWrap { text-align:center; }
div#header {text-align:left; background-color: #2358b8; margin: 0 auto; padding: 0; height: auto; }
div#leaderboard { text-align: center; }
div#googlebar {background: #2358b8 url('bkg_msba.png') 0 bottom repeat-x; border: 0; padding: 0 14px; }

/* ms logo
---------------------------------------------------------- */
div#logo { display: inline; float: left; padding: 9px 0; margin-top:10px;}
h1.mslogo { border:0; margin: 0; padding: 0; background:transparent none repeat scroll 0% 50%; }
h1.mslogo a { display: block; margin: 0; padding: 0; text-indent: -10000em !important; }
h1.mslogo a { background: 0 0 no-repeat; border: 0; height: 24px; width: 138px; }
div#logo.splash { padding: 9px 0; margin-top:7px;}
div#logo.splash h1.mslogo a {height: 30px; width: 171px; }

/* user
---------------------------------------------------------- */
div#user { background: url('rail_msb.png') 0 center no-repeat; display: inline; float: left; height: 32px; margin-left: 7px; margin-top:15px;}

/* user thumbnail */
div#thumb { display: inline; float: left; height: 32px; margin: 0 5px 0 10px; overflow: hidden; }
div#thumb a img { border: 1px solid #fff; display: block; vertical-align: middle; }
div#thumb a:hover img { border: 1px solid #c5e9fd; }

/* user status */
div#status { color: #fff; display: inline; float: left;  line-height: 14px; padding: 2px 0; }
div#status strong { color: #c5e9fd; }
div#status a { color: #c5e9fd; text-decoration: underline; }
div#status a:hover { color: #fff; text-decoration: none; }
div#status img { display: inline-block; vertical-align: top; }

/* user shortcuts
---------------------------------------------------------- */
div#shortcuts {  margin-top:22px; background: url('rail_msb.png') 0px -6px no-repeat; display: inline; float: left; height: 32px; margin-left: 7px; vertical-align: middle; padding-left:5px;}
div#shortcuts div { margin: 0; }
div#shortcuts select { width:133px; color: #666; font: 11px Verdana, Arial, Helvetica, sans-serif; /*height:20px;*/ margin: 0; }

/* search
---------------------------------------------------------- */
div#searchheader {width:465px; display: inline; float: right; padding: 4px 0; margin-top:15px; }
div#searchheader * { 
	text-transform:none !important;
	color:#666 !important;
	text-decoration: none !important;
	}
#searchheader div{width:auto !important; z-index:10006 !important;}
form#srch{height:22px;line-height:22px; float:right;}
/* search field */
div.srchfield { background: url('searchFl.gif') 0 0 no-repeat; display: inline; float: left; padding: 0 0 0 5px; }
div.srchfield div { background: url('searchFl.gif') right -24px no-repeat; padding: 0 5px 0 0; }
div.srchfield div div { background: url('searchFl.gif') 0 -48px repeat-x; padding: 5px 0 4px 0; .padding: 4px 0 3px 0; position: relative; }
.srchTextfld { border: 0; color: #666; font: 11px Verdana, Arial, Helvetica, sans-serif; height: 15px; margin: 0 65px 0 0; outline: none; padding: 0; width: 230px !important;}

/* search menu */
div#srchMenu 
{ 
	height: 22px; 
	line-height: 22px; 
	padding: 5px 0 0 0;
	margin:0;
	color: #666 !important; 
	display: inline; 
	top:0;
	right: 5px; 
	position: absolute; 
	z-index: 10005 !important; 
	text-align: right; 
	background:none;
	background: url('searchFl.gif') 0 -48px repeat-x;
}
div#srchMenu * { color: #666 !important;}

.loc2 
{
	cursor: pointer; 
	height: 14px; 
	line-height: 14px; 
	padding: 0 0 0 5px;
	border-left:1px #999 solid;
}

.loc2 a { text-decoration: none; white-space:nowrap;}
.loc2 a small { font-size: 9px; }

div#srchMenuList 
{
	right: -9px; 
	border: 1px solid #ccc; 
	border-top:1px #fff solid; 
	position: absolute; 
	display:none; 
	z-index: 10005 !important; 
	background-color: #FFF; 
	margin:0; 
	padding: 0; 
	top: 21px; 
	overflow:visible;
	}
div#srchMenuList.open { display:block; }
div#srchMenuList ul li 
{
	text-align: left; 
	background: none; 
	background-color: #fff; 
	margin:0; 
	padding: 0; 
}
div#srchMenuList  * { 
	text-transform:none !important;
	color:#666 !important;
	text-decoration: none !important;
	}
div#srchMenuList ul li a 
{
	background: none; 
	color: #666; 
	cursor: pointer; 
	display: block; 
	padding: 0px 10px; text-decoration: none; }
div#srchMenuList ul li a:hover { background-color: #d9eafb; color: #666; }

/* search button */
div.srchButton { background: url('searchBt.gif') 0 0 no-repeat; display: inline; float: left; height: 24px; margin: 0 5px 0 3px; padding: 0 0 0 5px; }
div.srchButton div { background: url('searchBt.gif') right -48px no-repeat; padding: 0 5px 0 0; }
div.srchButton div input#submit { background: url('searchBt.gif') 0 -24px repeat-x; border: none; color: #215191 !important; cursor: pointer; font: 10px Verdana, Arial, Helvetica, sans-serif; height: 24px; padding: 4px 6px 5px 6px; }
div.srchButton div input#submit:hover { color: #000; }

/* powered by google */
div#googleLogo {  background: 0 0 no-repeat; border: 0; display: inline; float: left; height: 24px; width: 46px !important; text-indent: -10000em !important; }


/*---------------------------- NAVIGATION START ----------------------------*/

#topnav
{
    height: 29px !important;
    background: #2358b8 url('bkg_menu.png') 0 0 repeat-x;
    z-index:200 !important;
    padding:0 !important;
    margin:0 !important;
}

/*---------------------------- TOP LEVEL START ----------------------------*/

#topnav ul
{
    list-style: none;
    padding: 0;
    margin: 0;
    border-right: 1px #1B4591 solid;
	display:block;
}
#topnav *
{
	color:#fff;
}
#topnav ul#leftNav
{
    float: left;
}           
#topnav ul#rightNav
{
    float: right;
}			       
#topnav ul li
{
    padding: 0;
    margin: 0;
    float: left;
    border-left: 1px #1B4591 solid;
}            
#topnav ul li a
{
    padding: 0 10px;
    height: 29px;
    line-height: 29px;
    text-decoration: none;
    display: block;
	float:left;
}     
#topnav ul li a small{font-size:8px;}       
#topnav ul li a:hover
{
    background-color: #1548ae;
    color: #eee;
}   
#topnav ul li a.open small{color: #003399;}       

#topnav ul li a.open
{
    background: #fff;
    color: #003399;
}
#topnav ul li a.open:hover
{
    background: #d9eafb;
    color: #036;
}

/*---------------------------- TOP LEVEL END ----------------------------*/

/*---------------------------- DROP DOWNS START ----------------------------*/ 
#subnav *
{
    text-transform: none !important;
    color: #003399 !important;
    text-decoration: none !important;
}        
#subnav ul
{
    position: absolute;
    left: -10000px;
    padding: 0;
    margin: 0;
    border: 1px #cfcfcf solid;
    border-top: none;
    background: #fff;
	list-style:none;
	display:block;
	float:left;
	z-index:10005 !important;
}            
#subnav  ul  li
{
    padding: 0;
    margin: 0;
    height: 22px;
    line-height: 22px;
    border-bottom: 1px #fff solid;
	display:block;
	float:left;
	clear:both;
}            
#subnav  ul  li.divider
{
    border-bottom-color: #cfcfcf;
}			
#subnav  ul li.last
{
    border-bottom: none;
}            
#subnav ul li a
{
    padding: 0 5px 0 9px;
    height: 22px;
    line-height: 22px;
    text-decoration: none;
    display: block;
	float:left;
	white-space:nowrap;
}           
#subnav ul li a:hover
{
    background: none #d9eafb;
    color: #036;
}
#framer{border:none;display:none;position:absolute;}                  

/*---------------------------- DROP DOWNS END ----------------------------*/ 

/*----------------------------- NAVIGATION END -----------------------------*/

/* CHANNEL FIXES
---------------------------------------------------------- */

div#comedian_topnav
{
	width:945px !important;
}
div#music_topnav,
div#film_topnav 
{
	width:950px !important;
}


/*----------------------------- SPLASH LINKS START -----------------------------*/

#splashlinks {
    margin-top: 16px;
    margin-left: 7px;
    padding-left: 7px;
    border-left: #426FBF 1px solid;
    float: left;
    text-align: left;
}

#splashlinks a {
    text-decoration: underline;
}



#splashnew {
    color: #C2E8FB !important;
    margin-bottom: 2px;
    font-weight: bold;
}

div#splashlinks * {
    color: #fff;
    font-size: 10px !important;
}
/*----------------------------- SPLASH LINKS END -----------------------------*/

/*hsm*/
#header #headerStatusMood {z-index: 10010 !important;float: left;position: relative;color: #FFF;}
#header #headerStatusMood * {color: #fff;font-size: 10px;}
#header .hsmLabel,#header  .hsmParen {color: #C3E9FF !important;}
#header #hsmMain {width: 265px;}
#header #hsmStatusLine {overflow: hidden;white-space: nowrap; text-overflow: ellipsis;padding-bottom: 2px;margin-top: 2px;}
#header #hsmUpdateDialog {z-index: 10011 !important;}
#header #hsmUpdateDialog .hsmLabel {color: #000 !important;}
#header #hsmUpdateDialog td {color: #000;padding: 1px 1px 3px;white-space: nowrap;}
#header #hsmUpdateDialog input {color: #000;border: 1px solid #CCC;padding: 2px;width: 200px;font: 9px Verdana;background: #FFF;-moz-box-sizing: content-box;-webkit-box-sizing: content-box;}
#header #hsmUpdateDialog select {color: #000;border: 1px solid #A5ACB2;padding: 2px;font: 9px Verdana;background: #FFF;}
#header #hsmUpdateDialog select option {color: #000;}
#header #hsmUpdateDialog .hsmButton {float: right;height: 12px;color: #1C4976;position: relative;cursor: pointer;font: bold 10px Verdana;padding: 2px 3px 3px;margin: 2px 7px 0 0;}
#header #hsmUpdateDialog .hsmButtonRight {position: absolute;right: 0;right: -1px;top: 0;height: 17px;width: 3px;}
#header #hsmStatusChoices {display: none;position: absolute;background: white;border: solid #ccc;border-width: 0 1px 1px;width: 200px;padding: 0 2px;z-index: 1;}
#header #hsmStatusChoices a {display: block;font-weight: normal;padding: 2px;cursor: pointer;color: #000 !important;width: 194px;margin: 0 auto;}
#header #hsmStatusChoices a:hover {background: #EAF1FF;text-decoration: underline;}
#header #hsmThumb {margin-left: 7px;}
#header #hsmMyImage {margin-right: 7px;}
#header #hsmUpdateDialog * { color: #036;}
#header #hsmUpdateDialog .hsmLabel { color: #369 !important }