/************************
* global html tag selectors
************************/
body { font:11px arial,sans-serif; line-height:13px; margin:0; padding:0; background:url(body_bg0.gif);text-align:center}
div, td { font:11px arial,sans-serif; }
form, input { padding:0px; margin:0px; }
a { color: #009; text-decoration:none; }
a:hover { color:#000; }
img{border:0}
sup{vertical-align:text-top}
h1,h2{margin:0;padding:0}

/************************
* generic formatting classes
************************/
.fl{float:left}
.fr{float:right}
.fn{float:none}
.clear{clear:both}
.center{margin-left:auto;margin-right:auto}
.txtL{text-align:left}
.txtC{text-align:center}
.txtR{text-align:right}
.inact{color:#999}
.nowrap{white-space:nowrap}
.imgBlock{display:block}

/************************
* global page
************************/
.frame, frame2 { width:974px; padding:0px; }
.frame { margin-right:auto; margin-left:auto; background-image:url(frame_bg.gif);text-align:left}
.editHead { height:16px; padding:3px 5px 0px 5px; border:1px solid #999; background-image:url(edithead.gif);  font-weight:bold; font-size:12px;  color:#fff; }
.editHead2 { height:40px; padding:3px 5px 0px 5px; border:1px solid #999; background-image:url(editHead.gif);  font-weight:bold; font-size:17px;  color:#fff; }
#mastheadNav { background-image:url(masthead2.gif); border:1px solid #000; border-bottom:0}
* html #mastheadNav{height:19px}
#mast{font-size:0; position:relative; }
img.header { display:block; }

/************************
* top block
************************/
#loginBox{padding-top:5px;padding-left:8px;text-align:left;}
#loginBox a {line-height:16px;}
#leaderboardRow { background-image:url(leaderbo.gif); width:974px; height:96px; text-align:left; }
#leaderboardWelcome { width:209px; padding:13px 0px 0px 14px; text-align:center; float:left; }
#leaderboardAd,#hotButtons{float:left;width:728px;height:90px;position:relative;left:5px}
#hotButtons{background:#fff url(hotbutto.gif)}
#hotButtonsText{float:left;position:relative;left:13px;top:20px;width:175px;margin-right:24px;text-align:left}
.hotButtonsBtn{float:left;position:relative;top:18px;margin-left:6px;text-align:center;width:80px;height:68px;overflow:hidden;font:9px tahoma,sans-serif}
.hotButtonsBtn img{width:80px;height:49px;margin-bottom:3px}

/************************
* left column
************************/
#colLeft { float:left; width:141px; padding:0px; }
#navFrame { padding: 5px 0px 0px 13px; text-align:left; margin-top:0px;}
.navCategory { font-size:11px; font-weight:bold; padding:7px 0px 7px 10px; border-bottom:1px solid #fff; border-right:1px solid #fff;}

.navArrowedLink { background:url(nav_arro.gif) no-repeat 10px 7px;  border-right:1px solid #fff;}
.navArrowedLink a { font-weight:bold; }
.navArrowedLink a:hover { font-weight:bold; }
.navArrow { float:left; margin-top:4px; padding-right: 5px; }
.navLink, .navArrowedLink { padding:2px 0px 2px 20px; border-bottom:1px solid #fff; }

/************************
* left nav colors
************************/
.navLink {border-right:1px solid #fff;}
.navArrowedLink a { color:#009; }
.navArrowedLink a:hover { color:#000; }
.navLink a { color: #000; }
.navLink a:hover { color:#009; }

/************************
* center column
************************/
#colCenter { float:left; width:510px; padding:0px; }
#topStoriesHeader,#topStoriesHeader img{width:510px;height:18px}
.image120 { border:2px solid #ccc; float:left; margin-right:5px; }
.image120dark { border:2px solid #000; float:left; margin-right:5px; }
#columns { background-image:url(columns_.gif); }
#columnsBottom { background-image:url(columnsb.gif); height:22px; }
#colCenterContact{height:19px;background:#ffc;padding:6px;border:#999 1px solid;margin-top:6px}

/************************
* right column
************************/
#colRight {	float:right; width:319px; padding:0px 0px 0px 4px;  text-align:left; }
.white { color:#fff; }
a.white:hover { color: #009; }
/* other right styles still in use, original naming convention */
.rightBox a:hover { color:#9AAACB; }
.rightButton { background-image:url(rightbut.gif); width:290px; height:19px; margin:4px 0px 0px 0px; }
.rightEmail { float:right; margin:1px 2px 0px 0px; }
.eCheck { width:14px; height:14px; padding:0px; margin:0px; }

#imageMarquee { margin:10px 0; }
.colCenterDisclaimerText { font:7.5pt Helvetica; padding:5px; }

/* taken from channel */

/* image styles */
img.colRightImage { display:block; }
img.colRightImageBorder { display:block; border:1px solid #ccc; }
img.colRightImageBorderFloat { display:block; border:1px solid #ccc; float:left; margin-right:13px; }
img.colRightImageTopPad { display:block; padding-top:5px; }

/* left aligned 120x120 */ 
.colRightImageLayout5 { display:block; border:1px solid #ccc; float:left; margin-right:13px; } 

/* padding for a 260x160 */
#colRightImageLayout2 { padding:8px 14px 0px 14px; }

/* various headline - strapline styles */
/* single layout */
.colRightHeadline { padding:6px 14px 0px 14px; font-weight:bold; }
.colRightStrapline { padding:0px 14px 6px 14px; }
/* dual layout */
.colRightHeadline2 { padding:6px 4px 0px 4px; font-weight:bold; }
.colRightStrapline2 { padding:0px 4px 6px 4px; }
/* only on the right layout */
.colRightHeadlineRight { font-weight:bold; } /*.colRightBoxLayout5Headline { font-weight:bold; } */
.colRightStraplineRight { } /* .colRightBoxLayout5Strapline { } */

/* various content layouts */
/* standard layout */
.colRightContent { padding:0px 16px; }
/* style for floating div on the left layout */
.colRightContentLeft { float:left; width:120px; }
/* style for floating div on the right layout */
.colRightContentRight { float:left; width:120px; padding-left:14px; }

.pollRadioButtons { margin-top:6px; }

/* various layout paddings */
.colRightLayout2 {  }
.colRightLayout1 { padding-top:2px; }
.colRightLayout3 { padding-top:4px; }
.colRightLayout4 { padding-top:6px; }
.colRightLayout5 {  }

/* other right styles still in use, original naming convention */
.rightButton { width:290px; height:19px; margin:4px 0px 0px 0px; }
.rightEmail { float:right; margin:1px 2px 0px 0px; }
.eCheck { width:14px; height:14px; padding:0px; margin:0px; }


/************************
* constraints
************************/
a.colCenterLetterConstraint:hover, a.colCenterLetterConstraintOther:hover { color:#fff; border:1px solid #000; }
a.colCenterLetterConstraint:active, a.colCenterLetterConstraintOther:active { background-color:#fff; border:1px solid #000; }
a.colCenterLetterConstraintCurrent { color:#fff; border:1px solid #000; }


/************************
* Ad Formatting
************************/
#RatingsBoxAd { margin-top:5px; }
#CountDownAd { margin-bottom:6px; }
#BillboardAdColRight { position:relative; left:2px; margin-bottom:6px; margin-top:6px; }
#SkyscraperAdColRight { margin-bottom:6px;text-align:center }


/* end taken from channel */


/************************
* footer
************************/
#frameBottom{background:url(framebot.gif);height:32px;clear:both}
#footerRight { float:left; padding:10px 10px 0px 10px; margin-bottom:0px; border:1px solid #000; background-color:#333; text-align:left; color:#fff; height:57px; width:462px; }
#footerLeft { float:left; border:1px solid #000; background-color:#333; text-align:left; color:#fff; height:67px; width:485px; margin:0px 3px 0px 0px; overflow:hidden; }
#footerCenter { height:67px; width:550px; margin:0px 3px 0px 0px; overflow:hidden;}
.footerFrame { padding:0px; border-top:1px solid #000; width:974px; margin-right:auto; margin-left:auto; }

#dual { background:url(dual_bg0.gif) repeat-x bottom; }
.dualSingle { width:232px; padding:0px 16px 0px 19px; float:left; }
.dual120text { width:79px; padding:0px 18px 0px 7px; float:left; text-align:left; }
.dualYellow { margin-left:8px; width:224px; background-image:url(dualyell.gif); border-top:1px solid #ccc; text-align:left; }
.dualPadd { padding:7px 5px 6px 10px; margin:0px; }
.dualButton { background-image:url(dualbutt.gif); width:224px; height:17px; }
#footerNav { background:#fff url(footerna.gif) repeat-x; border:1px solid #000; border-top:0px; }
.horizontalNavText { color:#999; font: bold 9px tahoma,sans-serif; padding:4px 0; text-align:center; }

#sLeaderboardAd { padding-top:2px;}
#textAd { padding:10px 0px; width:972px; border:1px solid #000; background-color:#333; color:#fff; margin:0px 0px 3px 0px; text-align:center; }
#textAd a, #footerLeft a, #footerRight a { color: #fff; }
#textAd a:hover, #footerLeft a:hover, #footerRight a:hover { color: #009; }
#copyrightLogo { width:110px; height:65px; float:left; }
#copyrightLinks { padding-top:18px; }

/************************
* footer colors
************************/
#textAd a:hover, #footerLeft a:hover, #footerRight a:hover { color: #9AAACB; }

/************************
* footer textad hotgames (deprecated: this block to be deleted after network footer is entirely re-published )
************************/
/* Although this style block has alot in common with footer network, it is implemented independently to satisfy the standard network footer requirement, which is:
to stand on its own, so that the footer network code is the same on other networks with only its colors changed. */
#footerTextAdHotGames { border:1px solid #000; background-color:#333; padding:0 10px 10px 10px; margin:0 0 3px 0; text-align:center; }
/* text ad and hot games footer : width is not needed because .footerFrame defines the width so all child block elements fill to that width */
#footerTextAdHotGames a:hover, #footerTextAdHotGames { color:#fff; } 
#footerTextAdHotGames * { font:10px arial; } /* the text ad uses the font tag, so - #footerTextAdHotGames * - will overide it */
.footerHotGames, .footerTextAd div, .footerTextAd img { padding-top:10px; } /* text ads are children of a div element and banners are img elements, so by styling this way, 
the parent div #footerTextAdHotGames collapses gracefully when there are no text ads or no banner ads leaving even padding around the hotgames links. */

/************************
* ads hot content : to replace the footer textad hotgames css block above.
************************/
/* Although this style block has alot in common with footer network, it is implemented independently to satisfy the standard network footer requirement, which is:
to stand on its own, so that the footer network code is the same on other networks with only its colors changed. */
#adsHotContent { border:1px solid #000; background-color:#333; padding:0 10px 10px 10px; margin:0 0 3px 0; text-align:center; }
#adsHotContent a:hover, #adsHotContent { color:#fff; } 
#adsHotContent * { font:10px arial; } /* the text ad uses the font tag, so - #footerTextAdHotGames * - will overide it */
.footerHotContent, #adsHotContent .TextAd, #adsHotContent .BannerAd { padding-top:10px; }

/************************
* footer network
************************/
/* deprecated styles : to be removed after network footer goes live since these will no longer be in use:
#footerRight, #footerLeft,  #textAd, #copyrightLogo, #copyrightLinks */

/* default footer link colors for channels that don't define them on the channel level (like retro, games, and blue ign) */
#footerTextAdHotGames a, #footerNetwork a, #adsHotContent a { color:#9AAACB; }

/* wrapper decorator to surround the standard network footer : width is not needed because .footerFrame defines the width so all child block elements fill to that width */
#footerNetworkWrapper { border:1px solid #000; background-color:#333; }

/* STANDARD FOOTER NETWORK BLOCK: This is standard across all networks where only colors are allowed to change. */
#footerNetwork * { font:10px verdana,sans-serif!important; color:#FFF; }
#footerNetwork a:hover { color:#FFF; text-decoration:none; }
#footerNetwork { width:750px; padding-bottom:10px; background-color:#333; margin-right:auto; margin-left:auto; }
.footerLogo { display:block; width:110px; height:65px; background:url(ignent_f.gif) no-repeat;  }
.footerCorp { text-align:left; padding-left:22px; }
.footerLogoCell { vertical-align:middle; width:110px; }
.footerTextCell { vertical-align:middle; text-align:left; }
.footerRss { position:relative; top:4px; border:0; }

/************************
* message board
************************/
.messageBoard { padding:0px 13px 13px 20px; }
.messageBoardHeadline { font-weight:bold; }
.messageBoardStrapline {  }

/************************
* buttons
************************/
.button17,.button17Inact, .button13, .button12 { text-align:center; font:bold 10px tahoma,sans-serif; color:#009; cursor:pointer; border:1px solid #999; height:15px; }
.button13, .button12 { height:12px; font-size:9px; position:relative; float:right; }
.button17,.button17Inact {	background-image:url(button17.gif);	padding:2px 0px 0px 0px; }
.button13 {	background-image:url(button13.gif);	padding:1px 0px 0px 0px; }
.button12 {	background-image:url(button12.gif);	padding:0; float:right; left:1px; width:100px; height:10px; border:1px solid #000; color:#fff; }
.bottomRight { background-image:url(bottomri.gif); width:290px; height:19px; margin:4px 0px 0px 0px; }
.buttonInput { color:#009; text-align:center; font:bold 9px tahoma,sans-serif; border:0px; width:55px; height:12px; padding-top:1px; position:relative; float:right; background-image:url(button13.gif); cursor:pointer; }
.button17:hover{color:#000}
.button17Inact{color:#999;cursor:default}

/************************
* gobject related
************************/
#gameTabs{background-color:#fff;background-image:url(colcente.gif)}
#gameTabsProfile{width:496px;min-height:26px;background-image:url(gametabs.gif)}
* html #gameTabsProfile{height:26px}
#gameProfileTxt{padding:6px 10px 5px 15px;font-weight:bold;font-size:14px}
#gameTabsMediaBtns{width:480px;height:34px}
.gametabsBtnImages,.gametabsBtnImagesOff,.gametabsBtnImagesOn{float:left;width:241px;height:34px;background:url(gametabs.gif);cursor:pointer}
.gametabsBtnImagesOff{background:url(gametabs.gif);cursor:default}
.gametabsBtnImagesOn{background:url(gametabs.gif);cursor:default}
.gametabsBtnVideos,.gametabsBtnVideosOff,.gametabsBtnVideosOn{float:left;width:239px;height:34px;background:url(gametabs.gif);cursor:pointer}
.gametabsBtnVideosOff{background:url(gametabs.gif);cursor:default}
.gametabsBtnVideosOn{background:url(gametabs.gif);cursor:default}
.gameTabsGameNav{width:478px;border:#666 1px solid}
.gameTabsGameNavBG{height:25px;background:#fff url(gametabs.gif) repeat-x;border:#fff 1px solid}
.gameTabsGameNavTable{width:100%;margin-top:5px}
.gameNavImg{width:35px;padding-left:2px}
.gameNavTxt{font-weight:bold;text-align:center;font-size:11px !important}
#gameTabsBot{width:480px;height:4px;background-image:url(gametabs.gif);font-size:0}

#objectTabs{background-color:#fff;background-image:url(colcente.gif)}
#objectTabsProfile{width:496px;min-height:26px;background-image:url(objectta.gif)}
* html #objectTabsProfile{height:26px}
#objectProfileTxt{padding:6px 10px 5px 15px;font-weight:bold;font-size:14px}
#objectTabsMediaBtns{width:480px;height:34px}
.objectTabsBtnImages,.objectTabsBtnImagesOff,.objectTabsBtnImagesOn{float:left;width:241px;height:34px;background:url(objectta.gif);cursor:pointer}
.objectTabsBtnImagesOff{background:url(objectta.gif);cursor:default}
.objectTabsBtnImagesOn{background:url(objectta.gif);cursor:default}
.objectTabsBtnVideos,.objectTabsBtnVideosOff,.objectTabsBtnVideosOn{float:left;width:239px;height:34px;background:url(objectta.gif);cursor:pointer}
.objectTabsBtnVideosOff{background:url(objectta.gif);cursor:default}
.objectTabsBtnVideosOn{background:url(objectta.gif);cursor:default}
.objectTabsNav{width:478px;border:#666 1px solid}
.objectTabsNavBG{height:25px;background:#fff url(objectta.gif) repeat-x;border:#fff 1px solid}
.objectTabsNavTable{width:100%;margin-top:5px}
.objectNavImg{width:35px;padding-left:2px}
.objectNavTxt{font-weight:bold;text-align:center;font-size:11px !important}
#objectTabsBot{width:480px;height:4px;background-image:url(objectta.gif);font-size:0}

#latestMediaWrapper{width:480px;}
/*#latestMediaWrapper{height:152px} Removed for IE7 */
.latestmediaBtnImages,.latestmediaBtnImagesOff{width:313px;height:34px;background:url(latestme.gif);cursor:pointer}
.latestmediaBtnImagesOff{background:url(latestme.gif);cursor:default}
.latestmediaBtnImagesOnly{width:480px;height:34px;background:url(latestme.gif);cursor:pointer}
.latestmediaBtnVideos,.latestmediaBtnVideosOff{width:167px;height:34px;background:url(latestme.gif);cursor:pointer}
.latestmediaBtnVideosOff{background:url(latestme.gif);cursor:default}
.latestMediaBorder1{height:117px;border:#666 1px solid;border-top:0}
.latestMediaBorder2{height:117px;border:#fff 1px solid;border-top:0;border-bottom:0;background:#fff url(latestme.gif) repeat-x}
.latestMediaThumb{border:#009 1px solid}
.latestMediaThumbImg,.latestMediaThumbImgOnly,.latestMediaThumbVid{float:left;padding-top:2px; height:110px;}
.latestMediaThumbImg{padding-left:8px}
.latestMediaThumbImgOnly{padding-left:12px;}
.latestMediaThumbVid{padding-left:10px;}
.latestMediaThumbInact{border:#666 1px solid}
.latestMediaCount{font:9px tahoma,sans-serif;text-align:center;clear:both;}

.colCenterBoxTop{font-size:12px;font-weight:bold;color:#fff;height:18px;margin:0;padding:17px 0 0 14px;overflow:hidden;background:url(colcente.gif)}
.colCenterBoxBody{padding:0 4px 4px 4px;border:#999 1px solid;border-top:0}
.colCenterBoxHeader{background:#999;font-size:12px;font-weight:bold;color:#fff}
.colCenterBoxSubheader{background:#ccc;font-size:8px;color:#666;height:21px}

#connectBox td{font-size:11px}
#connectBoxRelated{width:470px;margin-left:-3px;padding-top:5px}
#connectBoxPosts{width:470px}
#connectBoxPostsTd{padding:0 10px;vertical-align:top;font-size: 11px}
#connectBoxCommunity{width:470px}
#connectBoxCommunityTd{padding:0 10px;vertical-align:top;font-size: 11px}
#connectBoxComm{width:470px;margin-bottom:10px}
#connectBoxCommTd{padding:0 10px;}
.connectBoxHeader{font-weight:bold;border-top:1px solid #ccc;margin-top:5px;margin-bottom:5px}
.connectBoxLine{height:0px;border-top:1px #ccc solid;margin:3px 0;font-size:0}
.connectBoxTable {width:470px;margin-left:-3px;padding-top:5px}
.connectBoxTd{padding:0 10px;}
.connectBoxD2DItem {padding:2px 0px 2px 10px; border: 0px solid grey;}
.connectBoxD2DItem img {float:left;}
.connectBoxD2DItemText {padding:3px 0px 0px 30px;}

/* old right column header */
.colRightBoxTop,.colRightBoxTopSm{background:url(colright.gif)}
.colRightBoxTop{height:32px}
/* new right column header */
.rightColumnHeader { background:url(bg_right.gif); }
.rightTab { background-color: #0393fb !important; }

.colRightBoxTopSm{height:13px;font-size:0}
.colRightBoxHead{position:relative;top:16px;left:14px;font-weight:bold;font-size:12px;color:#fff}
.colRightBox{border:#FDF9F9 1px solid;border-top:0;padding:0 3px 3px 2px;margin-bottom:6px}

#userToolsBox{background:#fff;border:1px #999 solid;border-bottom:0;padding:5px 4px 5px 2px;width:292px}
#userToolsHead{float:left;width:130px;height:29px}
#userTools{float:left;background:#FEFED4;border:1px #E8E8B9 solid;padding:3px;width:122px}
#userToolsTable{width:122px;height:191px}
#userToolsCheckBoxes{vertical-align:top}
#userToolsCheckBoxes *{vertical-align:middle}
#userToolsCheckBoxes input{margin:1px}
* html #userToolsCheckBoxes input{margin:-2px}/* IE Fix*/
.userToolsIcon{margin:2px 2px 2px 0}
#userToolsButtons{vertical-align:middle;padding:1px 0}
#userToolsButtons .button17,.button17Inact{margin-top:2px}
#detailsBoxD2Ddownload,#d2dDownloadGame,#d2dDownloadUKGame{width:300px;height:38px;background:#fff url(detailsb.gif)}
#detailsBoxD2DdownloadBtn,#d2dDownloadGameBtn,#d2dDownloadUKGameBtn{position:relative;top:14px;left:141px;width:140px;height:15px;background-image:none;border-top:0;text-align:left;padding-left:9px}
#gameDetails{border:#999 1px solid;background:#fff;padding:13px;width:272px}
#gameDetails p{margin:5px 0 0 0}
#gameDetails br{font-size:5px}
#gameDetailsExtended{display:none}
#gameDetailsMoreInfo{height:18px;border:#999 1px solid;border-top:0;padding:6px;background:url(gamedeta.gif)}

#gameDetailsContribute { background-color:#FEFED4; border:1px solid #999; border-top:0; padding:6px; }
.gameDetailsContributeLeft { padding-left:7px; }
.gameDetailsContributeRight { text-align:right; }
.gameDetailsContributeMiddle, .gameDetailsContributeRight { padding-left:5px; }

#objectDetails{border:#999 1px solid;background:#fff;padding:13px;width:272px;}
#objectDetails p{margin:5px 0 0 0}
#objectDetails br{font-size:5px}
#objectDetailsExtended{display:none}
#objectDetailsExtended ul { margin:0; padding-left:15px;}
#objectDetailsMoreInfo{height:18px;border:#999 1px solid;border-top:0;padding:6px;background:url(objectde.gif)}
.objectDetailsAttribName{font-weight:bold;padding-right:3px}

.objectDetailsAttribValue{font-weight:normal;}
* html .objectDetailsAttribName{padding-right:0px}
.objectDetailsRumorExplanation {font:7.5pt Helvetica;padding-top:5px;}
.rumor {color: purple;}

#objectDetailsBoxMediaHeader{float:left;width:130px;height:29px}
#objectDetailsBoxMedia{float:left;background:#ffffff;border:1px #E8E8B9 solid;padding:3px;width:122px}
#objectDetailsBoxMediaTable{width:122px;height:188px}
#objectDetailsBoxMediaButtons{vertical-align:middle;padding:1px 0}
#objectDetailsBoxMediaButtons .button17,.button17Inact{margin-top:2px}

.userToolsBlogThisWide { background-color:#FEFED4; padding-top:1px; border-top:1px solid #B3B3B3; } 
* html .userToolsBlogThisWide { padding-top:4px; } /* IE6 */
#objectDetailsBlogable { border:1px solid #999; padding:0; width:298px; background:#fff; border-top:0px; }
#objectDetailsTop { padding:13px; }
#objectDetailsBottom { padding:0; }

.colRightProduct{height:46px;background:#fff;border:#999 1px solid;border-top:0}
.colRightProductImg{float:left;padding:7px 8px 0 12px}
.colRightProductTxt{float:left;padding-top:9px}

#scoresBoxWrapper{width:298px;border:#999 1px solid}
#scoresBoxIgn{width:113px;height:114px;background-image:url(scoresbo.gif)}
#scoresBoxIgn div{padding-top:24px; text-align:center}
#scoresBoxIgn div#scoresBoxIgnOvScoreText{padding-top:0px;}
#scoresBoxIgn div#scoresBoxIgnOvScore{font-size:60px;font-weight:bold;color:#f00}
#scoresBoxIgn a{font-size:60px;font-weight:bold;color:#f00}
#scoresBoxIgn a:hover{color:#000}
#scoresBoxIgnOvScoreText {margin-top:-6px;} 
#scoresBoxIgnOvScoreText a {font-size:14px;font-weight:bold;color:#f00;}
#scoresBoxRatingNfo{width:113px;height:26px;background-image:url(scoresbo.gif)}
#scoresBoxRatingNfo div{padding-top:6px;text-align:center}
#scoresBoxRatingNfo img{vertical-align:text-top;margin-right:5px}
#scoresBoxReaderAvg{position:relative;width:185px;height:85px;background-image:url(scoresbo.gif)}
#scoresBoxReaderAvgNum{position:absolute;left:108px;top:5px;width:49px;font-size:24px;font-weight:bold;text-align:center}/*IGN_LAYERING_OK{to position scores box elements,absolute to relative div,sbell,4/20/2005}*/
#scoresBoxReaderAvgNfo{position:absolute;top:36px;width:184px;text-align:center}/*IGN_LAYERING_OK{to position scores box elements,absolute to relative div,sbell,4/20/2005}*/
#scoresBoxReaderAvgBtn{position:absolute;left:5px;top:56px}/*IGN_LAYERING_OK{to position scores box elements,absolute to relative div,sbell,4/20/2005}*/
#scoresBoxPressAvg{position:relative;width:185px;height:55px;background-image:url(scoresbo.gif)}
#scoresBoxPressAvgNum{position:absolute;left:108px;top:5px;width:49px;font-size:24px;font-weight:bold;text-align:center}/*IGN_LAYERING_OK{to position scores box elements,absolute to relative div,sbell,4/20/2005}*/
#scoresBoxPressAvgNfo{position:absolute;top:34px;width:184px;text-align:center}/*IGN_LAYERING_OK{to position scores box elements,absolute to relative div,sbell,4/20/2005}*/
#scoresBoxRatingRanking{width:292px;background:#EFEFEF url(scoresbo.gif) repeat-x;padding:5px 3px;text-align:center}
#scoresBoxRatingRanking img{margin-right:6px;vertical-align:middle}
#scoresBoxGameStats{padding:3px 5px;background-color:#fff;border:#999 1px solid;border-top:0}
#scoresBoxGameStatsTable{width:100%}
#scoresBoxGameStatsIcon{padding-right:5px}
#scoresBoxEdChoice{padding-top:5px;background-color:#fff;border:#999 1px solid;border-top:0;text-align:center}
#blockbusterAd{margin-bottom:5px}
#scoresBoxEntReaderAvgBtn{position:relative;left:0px;top:56px}
.scoresBoxMyRating{margin-left: 1px; margin-top: 1px}
#entscoresBoxRatingNfo{position:relative;width:184px;height:31px;;background-image:url(scoresbo.gif)}
#entscoresBoxRatingNfo div{padding-top:8px;text-align:center}
#entscoresBoxRatingNfo img{vertical-align:text-top;margin-right:5px}

#scoresBoxIgnWide { position:relative;width:298px;height:38px;background-image:url(scoresbo.jpg) }
#scoresBoxIgnWide a{font-size:24px;font-weight:bold;text-align:center;color:#f00}
#scoresBoxIgnWide a:hover{ color:#000 }
#scoresBoxIgnWide div#scoresBoxIgnScoreWide{ position:absolute;left:130px;top:6px;width:49px; }
#scoresBoxIgnWide div#scoresBoxIgnOvScoreTextWide { margin-left:183px;padding-top:11px; }
#scoresBoxIgnOvScoreTextWide a {font-size:13px;font-weight:bold;color:#f00;}
#scoresBoxIgnWide div#scoresBoxRatingNfoWide { width:13px;height:13px;margin-left:279px; margin-top:2px;}
#scoresBoxReaderAvgWide { position:relative;width:298px;height:53px;background-image:url(scoresbo.jpg) }
#scoresBoxReaderAvgNumWide {position:absolute;left:121px;top:4px;width:49px;font-size:24px;font-weight:bold;text-align:center}
#scoresBoxReaderAvgBtnWide { position:absolute;left:179px;top:9px }
#scoresBoxReaderAvgNfoWide { position:absolute;top:34px;left:130px;text-align:center }

#scoresBoxIgnWide2 { position:relative; width:298px; height:38px; background-image:url(scoresbo.jpg) }
#scoresBoxIgnWide2 a {font-size:24px;font-weight:bold;text-align:center;color:#f00}
#scoresBoxIgnWide2 a:hover { color:#000 }
#scoresBoxIgnWide2 div#scoresBoxIgnScoreWide2 { width:49px; float:left; text-align:center; position:relative; top:5px; }
#scoresBoxIgnWide2 div#scoresBoxIgnOvScoreTextWide2 { position:relative; top:11px; left:1px; width:103px; float:left; text-align:center;   }
#scoresBoxIgnOvScoreTextWide2 a {font-size:13px;font-weight:bold;color:#f00;}
#scoresBoxIgnWide2 div#scoresBoxRatingNfoWide2 {  position:relative; top:13px; left:4px; width:13px;height:13px; float:left;  }
#scoresBoxTextContainer { position:relative; height:38px; left:121px; }

/* PriceGrabber */
#colRightPG{border:#999 1px solid;border-top:0}
#colRightPG a{color:#390; text-decoration: none;}
#colRightPG td a{color:#390; text-decoration: none;}
#colRightPG a:hover{color:#000}
#colRightPG .white{color:#000;font-weight:bold;padding:2px 0}
#colRightPG .blue12b{font-size:12px;font-weight:bold}
#colRightPG .retailerlink{font-weight:bold}

/* FilePlanet, colright Products */
#colRightProductsFilePlanet td { vertical-align:middle; font-weight:bold; }
.colRightProductsFilePlanetLogo, .colRightProductImg { padding:7px 12px; }
.colRightProductsFilePlanetLink, .colRightProductsLink { padding:0 5px 0 0;}
.colRightProductImg {width: 120px;}

/* Ads */
#MiniSkyscraperAd{}
#CornerstoneAd{border-bottom:1px solid #fff;padding-left:3px}
#CornerstoneAd div{margin:0 !important}
#ConnBoxAd {margin-top: 4px;}

/* Intellitext Ads */
.iTt { font-family: Verdana, Arial, Helvetica; font-size: 11px; font-style: normal; font-weight: normal; color: black; background-color: lightyellow; border:  black 1px solid; padding: 2px; text-align:left}

/* Opera Fix */
@media all { /*and (min-width: 0px){*/
#userToolsCheckBoxes input{margin:0px}
}

/* E3 */
.e305Nav div{border:none;padding-top:1px;padding-bottom:1px}
.ign_widget_e3 { margin: 10px 0; text-align: center; padding: 0; }
.ign_widget_e3 object { margin: 0; padding: 0; }

/* Around the Network box 1 column */
#aroundTheNetwork1colBox{}
.aroundTheNetwork1col{border:#999 1px solid;background:#fff;padding:13px;width:100%;}
.aroundTheNetwork1colLinks div {margin-bottom:2px;}
.aroundTheNetwork1colLinks a {font-weight:bold;}
/* Around the Network box 2 column */
#aroundTheNetworkBox {background:#E0E0E0;border-style:solid;border-width:1px;border-color:#AFAFAF;text-align:left;position:relative;padding:8px 8px 12px 12px;margin-top:9px;margin-bottom:9px}
#aroundTheNetworkBox table{width:100%;}
.aroundTheNetworkLine{height:0px;border-top:1px #ccc solid;margin:3px 0;font-size:0;width:100%}
.aroundTheNetworkLinks div {margin-bottom:2px;}
.aroundTheNetworkLinks a {font-weight:bold;}

/* ff ratings box NEW */
#ffRatingsBox {background-color:#ffffff;border:1px solid #666666;padding:2px}
#ffRatings {height:70px;background:url(ffrating.gif);background-repeat: no-repeat;}
#ffRatings_scoreOvrall{width:193px;height:48px;padding-left:95px;padding-top:5px;}
#ffRatingInfo{float:left;font:9px arial,sans-serif;}
#ffRatingInfo div{padding-left:12px;}
#ffRatingInfo a{font:9px arial,sans-serif;text-decoration: none;}
#ffRatingInfo img{vertical-align:text-top;margin-right:3px}
#ffRatingTxt {float:right;position:relative;text-align:center;font:11px arial,sans-serif;}

#ffRatingsReader {height:57px;background:url(ff_reade.gif);background-repeat: no-repeat;}
#ffReaderAvg {float:right;position:relative;font:11px arial,sans-serif;width:182px;margin-top:7px;}
#ffReaderAvgTxt {float:right;position:relative;text-align:center;font:11px arial,sans-serif;width:206px;}
#ffReaderAvgNum{float:none;width:40px;font-size:24px;font-weight:bold;padding:2px 5px 0px 4px;left:0px;margin-right:10px;}
#ffReaderAvgBtn {float:none;padding-left:0px;}

#ffRatings_scoreOvrallUK {height:50px;background:url(ffrating.gif);background-repeat: no-repeat;}
#ffRatings_scoreOvrallAU {height:50px;background:url(ffrating.gif);background-repeat: no-repeat;}
#ffRatings_scoreOvrallUK img, #ffRatings_scoreOvrallAU img{margin-left:110px;margin-top:10px }

/* rotten tomatoes ratings box */

#rtMeter {width:300px;height:77px;background:url(rtmeter_.gif);background-repeat: no-repeat;}
.rtRed {height:13px;background:url(rtRed_bg.gif)}
.rtGreen {height:13px;background:url(rtGreen_.gif)}
#rtLogo{margin-top:13px;padding-left:7px;}
#rtAbout{padding-top:2px;width:90px;font:9px arial,sans-serif;}
#rtAbout a{font:9px arial,sans-serif;padding-left:8px;text-decoration:none;}
#rtAbout img{vertical-align:text-top;margin-right:3px}
#rtMeter_scoreOvrall{width:298px;margin-left:auto;margin-right:auto;}
#rtMeter_score {padding-top:7px; width:286px;}
#rtcolorbar {margin-top:24px;margin-left:0px;border:1px solid #000;width:100%;}
#rtMeter_text { width:185px; margin:2px 0px 0px 0px; font:12px arial,sans-serif; }
#rtMeter_text a { text-decoration: none; color:#a93939;}
#rtMeter_text a:hover { color:black;}
#rtBottom { width:275px;padding-top:3px;padding-left:5px;}

/************************
* userTools details box - club version - This block scheduled for execution
************************/
.userToolsRadioButtons { padding:5px 3px 2px 3px; border-bottom: 1px solid #E8E8B9; }
* html .userToolsRadioButtons { padding-top:2px; padding-bottom:8px; } /* IE Fix*/
.userToolsCheckBoxes { padding:0 3px 2px 3px; border-bottom: 1px solid #E8E8B9; }
* html .userToolsCheckBoxes { padding-bottom:4px; } /* IE Fix*/
.userToolsControls *{vertical-align:middle; }
.userToolsControls table { width:100%;  }
.userToolsControls td { padding:0; margin:0; }
.userToolsLayoutTop { vertical-align:top; }
.userToolsLayoutBottom { vertical-align:bottom; }
.userToolsControls input{margin:1px}
* html .userToolsControls input{margin:-2px} /* IE Fix*/
.userToolsFavorite { padding-bottom:5px; }
.userToolsContextualIntegration { padding:0 3px; }
.userToolsContextualIntegration .button17 { float:none; margin-bottom:2px; }
* html .userToolsContextualIntegration .firstChild { margin-bottom:4px; } /* IE Fix*/
.userToolsLayoutTop img { position:relative; top:-1px; }
div#userTools.userToolsControls { padding:1px 0 0 0; width:128px;}
a.userToolsBlogThis img { margin-top:5px; width:119px; margin-left:auto; margin-right:auto; display:block; }
* html a.userToolsBlogThis img { margin-top:2px; } /* IE Fix*/
.editListDetails { margin:2px 0 4px 0 ; }
* html .editListDetails { position:relative; top:2px; } /* IE Fix*/

/***********************
* detailsbox
***********************/
.objDetBoxClubCB table { }
.objDetBoxClubCB td {}
.objDetBoxClubCBInput {}
.objDetBoxClubCBInput input {margin-left:2px;}
.objDetBoxClubCBImg {padding:2px 0 2px 2px;}
.objDetBoxClubCBText {padding:2px 0 2px 2px;}
.objDetBoxClubCB {margin-bottom: 4px; border-bottom: 1px solid #E8E8B9;}
.objDetBoxClubRB {padding-bottom: 4px; border-bottom: 1px solid #E8E8B9;}

/************************
* wide club details box
************************/
#detailsBoxCommunityHeader { margin-left:3px;}
#detailsBoxCommunity { margin-left:3px; margin-bottom:4px; width:277px; padding:0 10px 5px 10px; background-color:#FEFED4; border:1px solid #CDCD9E; border-top-width:0; /* #E8E8B9; */}
* html #detailsBoxCommunity { padding-bottom:0; }
.detailsBoxCommunityLists { width:156px; }
.detailsBoxCommunityLists * { vertical-align:middle; }
.detailsBoxCommunityLists .userToolsIcon { position:relative; top:-2px; }
* html .detailsBoxCommunityLists .userToolsIcon { position:relative; top:-1px; }
.detailsBoxCommunityLists { position:relative; top:2px; }
* html .detailsBoxCommunityLists { position:relative; top:0; left:-4px; } 
.detailsBoxCommunityContextual { width:119px; margin-bottom:2px; padding-top:2px;}
.detailsBoxCommunityBlogThis { position:relative; top:5px; }

#e3NavLinksInline .navLink, #e3NavLinksInline .navArrowedLink, #e3NavLinksInline .navCategory { background-color:#fff; border-bottom:1px solid #EAEAE8; }
#e3NavLinksInline .navCategory { padding-top:5px; padding-bottom:4px; }
#e3NavLinksInline { margin-top:0px; }

#navLinksInline { padding-top:7px; }
.navLinkHeader { font-weight:bold; padding:2px 0 2px 10px; background-color:#fff; }

#scoresBoxIgnWideUK { position:relative; width:298px; height:38px; background-image:url(scoresbo.jpg) }
#scoresBoxIgnWideAU { position:relative; width:298px; height:38px; background-image:url(scoresbo.jpg) }
#scoresBoxIgnWideUK a, #scoresBoxIgnWideAU a {font-size:24px;font-weight:bold;text-align:center;color:#f00}
#scoresBoxIgnWideUK a:hover, #scoresBoxIgnWideAU a:hover { color:#000 }
#scoresBoxTextContainerUK, #scoresBoxTextContainerAU { position:relative; height:38px; left:133px; }
#scoresBoxIgnWideUK div#scoresBoxIgnScoreWideUK, #scoresBoxIgnWideAU div#scoresBoxIgnScoreWideAU { width:49px; float:left; text-align:center; position:relative; top:5px; }
#scoresBoxIgnWideUK div#scoresBoxRatingNfoWideUK, #scoresBoxIgnWideAU div#scoresBoxRatingNfoWideAU {  position:relative; top:13px; left:16px; width:13px;height:13px; float:left;  }
#scoresBoxIgnWideUK div#scoresBoxIgnOvScoreTextWideUK, #scoresBoxIgnWideAU div#scoresBoxIgnOvScoreTextWideAU { position:relative; top:11px; left:1px; width:103px; float:left; text-align:center;   }
#scoresBoxIgnOvScoreTextWideUK a,#scoresBoxIgnOvScoreTextWideAU a {font-size:13px;font-weight:bold;color:#f00;}

#ratingsBoxLinks a {font-weight:bold; font-size:13px; }

/************************
* header w/google searchbar
************************/
#headerSearch {position: relative; background:url(header_s.gif) no-repeat; height: 32px;}
#searchRadios { font-weight: bold;}
#googleLogo {margin-left: 20px;visibility:visible;}
#searchTextBox { width: 385px }
.searchRadio {margin:3px;position:relative;}
.buttonLSW{float: left;height: 15px; text-align:center; font:bold 10px tahoma,sans-serif; cursor:pointer; color:#009;}
.buttonLSW,.buttonLSWInact { border:1px solid #AAAAAA; background-image:url(button17.gif); padding:2px 0px 0px 0px; }
.buttonLSW:hover{color:#000}
.buttonLSWInact{color:#999;cursor:default}
.textBox{font-weight: bold; }

/************************
* new login, search, leaderboard styles
************************/
#loginSearchBar { background:url(header_s.gif) no-repeat; height: 32px; padding: 0 25px 0 16px; position: relative; clear: left;
}
/* search */
.searchLabel { font-weight: bold; padding: 0 5px 0 2px; }
#searchField { width: 300px }
.searchOption { float:left;
height:13px;
margin:0pt;
overflow:hidden;
padding:0pt;
width:13px; }

/* login bar */
#loginBar { width: 235px; background: #feffdd; float: left; margin: 3px 0 0 0; padding: 0; }
#loginBar a { font-weight: bold; }
.loginBarText { margin: 0 5px; height:26px; line-height: 26px; }
.loginMenuLink { float: right; padding: 0 15px 0 5px; height:26px; border-left: 1px solid #CCC; line-height: 26px; font-weight: bold; background: url(login_me.gif) no-repeat right top; }
.loginMenuLinkHover { background: url(login_mf.gif) no-repeat right top; cursor: pointer; }
.loginMenuLink a { cursor: pointer; } 

/* login drop down */
.loginMenuContainer { position: relative; z-index: 999999; text-align: left; font-family: Tahoma, Arial; line-height: 24px; height: 1%; display: none;}
.loginMenuOn { display: block; }
.loginOptions a { color: #ffff75; text-decoration: none; padding: 0 10px 0 10px; font-weight: bold; }
.loginOptions a:hover { color: #FFF; }
.loginOptions, .loginMenuBg { position: absolute; display: block; font-size: 10px; width: 125px; }
.loginOptions { top:-1px; left: 202px; z-index: 999999; height: 24px; }
.loginMenuBg { top:-2px; left: 201px; z-index: 999998; height: 115px; background: #071b31; opacity: .8; filter: alpha(opacity=80); border: 1px solid #697687; }
#mast { line-height: 1px; clear: both; height: 1%; }
.loginOption { line-height: 23px; }
.loginOptionHover { background: #040e2a; cursor: pointer; }
.loginOptionHover a { color: #fff; }
/* video box */
.latest_videoBox { padding: 17px 0 0 28px; }
.latest_videoBox_thumb { float:left; font-family:Tahoma,sans-serif; font-size:9px; text-align:center; width:80px; padding-right: 10px; }
.latest_videoBox_thumb img { height:49px; margin-bottom:3px; width:80px; }
/* leaderboards */
#LB_Row { height:96px; text-align:left; position: relative; padding: 0 0 0 14px; background: url(frame_bg.gif) repeat-y; }
#LB_Row_Ad { padding: 0; float:left; }
#LB_Row_Box { width: 215px; height: 90px; float:left; position: relative; background: #FFF; margin: 0; padding: 0; background: url(bg_latest_videoBox_label.gif) no-repeat; }
*html #LB_Row_Box { width: 211px; margin: 0; }

/************************
* around ign flashlights
************************/
#aroundIGN { border: 1px solid #a8a8a8; float:left; position:relative; left:5px; width:726px; height:88px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; background:#FFF url(lbl_arou.gif) top left no-repeat; }
#aroundIGN a, #aroundIGN a:link {  }
#aroundIGN a:active { outline: none; }
#aroundIGN a:focus { -moz-outline-style:none; }
.flashLightsOn { float:right; display: block; padding: 15px 10px 0 5px; text-align: center;}
.flashLightsOff { display: none; }
.thumb { float: left; padding-left: 5px; font-size: 9px; font-family: Tahoma, sans-serif; text-align: center; width: 80px; }
.thumb img { width: 80px; height: 49px; margin-bottom: 3px;}
#sections { margin-left: 18px; width: 170px; background-repeat: no-repeat; background-position: top right;  padding-right: 6px; text-align: left; background-image: url(img_arou.gif);}
.sectionDefault { padding: 1px 5px; background-color:#e7e7e7; border-bottom: 1px solid #FFF; }
.sectionSelected { background-color:#FFF; border-top: 1px solid #a8a8a8; border-left: 1px solid #a8a8a8; border-bottom: 1px solid #a8a8a8; height: 37px; overflow: hidden;}
.sectionSelected a, .sectionSelected a:link, .sectionSelected a:visited, .sectionSelected a:hover {color: #000; cursor: default; margin: 3px; }
.sectionTop { padding: 1px 5px; background-color:#e7e7e7; border: 0; }
.descOff { display: none; }
.descOn { display: block; margin-left: 17px; margin-right: 5px; }
